#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-content {
  position: relative; /* z-index çalışması için position gereklidir */
  z-index: 1; /* videodan daha önde olacak */
  color: white; /* video üstünde okunur olsun diye */
}

/* eğer belirli bir bölüm yine videonun altında kalıyorsa:
   o bölümün parent'ına position ve yüksek z-index ver */
