.weather-app {
  background: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  margin: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-row {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

input {
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 200px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
}

.weather-info {
  margin-top: -20px;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.deneme {
  max-width: 300px;
}
