#header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#Selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  box-shadow: 3px 3px 10px gray;
  margin-top: 15px;
  margin-bottom: 15px;
}
